.block1{
    width: 100%;
    min-height: 100%;
    background-color: rgba(237, 96, 68);
    color: black;
    padding-top: 45px;
    a{
        color: black;
        margin-left: 35px;
        margin-right: 35px;
        font-size: 32px;
    }
    h1{
        font-size: 96px;
        margin-top: 190px;
    }
    img{
        width: 1280px;
        margin-top: -85px;
    }
}
@media (max-width: 1280px) {
    .block1 {
        img{
            width: 100%;
        }
    }
}
@media (orientation: portrait){
    .block1{
        nav{
            display: none;
        }
        img{
            margin-top: 0;
        }
        h1{
            font-size:32px;
            margin-top: 85px;
        }
    }
}