.block6{
    background-color: rgba(23, 23, 23);
    padding: 4%;
    font-size: 24px;
    color: white;
    a{
        color: white;
        text-decoration: underline;
    }
}
@media (orientation: portrait){
    .block6{
        font-size: 8px;
        padding: 8px;
    }

}
