.block6{
    background-color: rgba(23, 23, 23);
    padding: 10%;
    font-size: 24px;
    text-align: left;
    color: white;
    a{
        color: white;
    }
}
@media (orientation: portrait){
    .block6{
        font-size: 8px;
        padding: 8px;
    }
}