@font-face {
    font-family: "Kurale";
    src: url(Kurale-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kurale";
    text-decoration: none;
    text-align: center;
}