.block3{
    width: 100%;
    background-color: rgba(237, 96, 68);
    padding-top: 137px;
    padding-bottom: 137px;
    text-align: center;
    img{
        width: 324px;
        margin-left: 41px;
        margin-right: 41px;
        animation: spin 4s ease-in-out infinite;
    }
}
@keyframes spin{
    0%{
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(360deg);
    }
    75%{
        transform: rotateZ(-360deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@media (orientation: portrait){
    .block3{
        img{
            width: 30%;
        }
    }
}